#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
*.exe
*.zip
*.ZIP
DETAILED_CHANGELOG

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore

#
# Generated source files
#
pc/iso2usbld/bin/iso2usbld
IOPRP_img.c

# Build artifacts
*.o
*.elf
*.ELF
*.irx
*.map
obj/
asm/
Makefile.bak
opl.elf
opl.map
opl_stripped.elf
OPNPS2LD*.ELF
ee_core/ee_core.elf
ee_core/ee_core.map
ee_core/obj/
elfldr/*.o
elfldr/*.elf
elfldr/*.map
